# A list of settable parameters to use in structured landscapes program

Output File Path:../saved_runs.dat # Where to save the run data
Mutation Rate:0.5
Orgs per Population:100
Number of Populations:10
Migration Rate:0.2
Proportion of Population Migrated:0.1
Organism Type:NK Model #(RNA, Bitstring, NK Model)
Length of Org:10
Length of Gene:5
Number of Genes:2
K-total:0
K-intra:0
Number of Generations:50
